#_preseed_V1
d-i debian-installer/priority string high

d-i user-setup/allow-password-weak boolean true

d-i passwd/root-password password 000

d-i passwd/root-password-again password 000

d-i passwd/user-fullname string User

d-i passwd/username string user

d-i passwd/user-password password 000

d-i passwd/user-password-again password 000

d-i pkgsel/run_tasksel boolean false

d-i pkgsel/upgrade select none

d-i pkgsel/include string nano curl wget git xserver-xorg icewm

d-i debian-installer/exit/poweroff boolean true
